// COLOR
$dark: #0d0d0d;
$light: #fff;
$gray-dark: #878787;
$gray-light: #ebebeb;
$accent: #0071e3;
$valid: #3adbb9;
$warning: #f9ce5c;
$error: #ff2800;

// SCREEN SIZE
$screen-mobile-max: 640px;
$screen-desktop-min: 641px;

// TEXT SIZE
$text-sm: 12px;
$text-md: 14px;
$text-lg: 18px;
$text-xl: 24px;

// GAP SIZE
$gap-sm: 2px;
$gap-md: 4px;
$gap-lg: 8px;
$gap-xl: 12px;
$gap-xxl: 20px;

// RADIUS SIZE
$radius-sm: 4px; //
$radius-md: 8px;
$radius-lg: 12px; //

// WEIGHT
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 500;
$weight-bolder: 700;
